@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  font-size: 14px;
  color: #333;
  background-color: #e1f4f0;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.topnav {
  background-color: #fdc56b;
  overflow: hidden;
}

.topnav a {
  float: right;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: white;
}

.topnav a.active {
  background-color: white;
  color: #fdc56b;
}

h1,h2,h3,p {
  text-align: center;
}

.btn {
  background-color: #fdc56b;
  border-color: #fff;
  text-align: center;
}

.yellow {
  color: #fdc56b;
}

hr {
  border-top: 2px solid #fdc56b;
}

.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.price .header {
  background-color: white;
  color: #333;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.button {
  background-color: #FDC56B;
  border: none;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}
